pandas
numpy 
Flask
seaborn
matplotlib

pymongo
scikit-learn
aiofiles
dill
dnspython
evidently
Flask
httptools
imblearn
jinja2
mypy-boto3-s3
pip-chill
python-dotenv
python-multipart
types-s3transfer
uvicorn
watchfiles
websockets
wincertstore
xgboost
neuro-mf
boto3

#-e .